{{> navbar}}
<div class="container mt-3">
  <header class="my-5">
    <h1>Registro de mi colección</h1>
    <p>Acá voy llevando un registro de las figuras coleccionables que estoy comprando en el transcurso de los años.</p>
    <a href="/about">¿Quién soy?</a>
  </header>
  <hr>
  <h3 class="mt-5 mb-3">Últimas adquisiciones</h3>
  {{#each articles}}
    <div class="card mb-3">
      <div class="card-body">
        <img src="{{img}}" width="250" height="250">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
        <a href="/articles/{{this.id}}" class="btn btn-primary btn-sm">Leer más</a>
      </div>
    </div>
    {{/each}}
</div>